<h1>Formulario de carga de productos</h1>
    <hr>
    <form style="width: 600px; margin: 50px;" method="post" action="http://localhost:8080/productos" name="form-carga-datos">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Precio</label>
          <input type="number" class="form-control" id="exampleInputPassword1" name="precio">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">URL foto</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="urlFoto">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <a href="/productos" class="btn btn-primary">Ver productos</a>